.Profile{
    width: 100%;
    height: 100vh;
    padding-top:100px ;


    &__logo{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: blueviolet;
        margin-right: 250px;
    }
    &__wrapper{
        display: flex;
        align-items: center;
    }

    &__userName{
        font-weight: 700;
        margin-right: 55px;
        
    }
    &__button{
        cursor: pointer;
    }
}