.Main{
    height: auto;
    display: flex;
    padding-top:100px;
    margin-left:200px;
    margin-right: 40px;

    &__recomendation{
        width:700px;
        height: 100vh;
        position: fixed;
        top:55px;
        z-index:30;
        right: 0;
        left:42.5%;

    }
    &__block{
        border:1px solid;
        margin-left:40px;
        color:grey;
        margin-top:20px;
        width: 400px;
        text-align: center;
        justify-content: center;
        padding:30px;
        background-color: whitesmoke;
        border-radius:40px ;
    }
    
    &__wrapper{
        padding-left: 1200px;
    }
    &__header{
        display: flex;
        align-items: center;
    }
    &__fullRecomandation{
    padding-top:30px;
    padding-left:10px;
    border:2px solid black;
    border-radius: 40px;
    width: 500px;
    height:400px;
    background-color: whitesmoke;

    }
    &__userLogo{
        width: 32px;
        height: 32px;
        background-color: black;
        border-radius: 50%;
        margin-right: 30px;
        margin-left: 20px;
    }
    &__userDate{
        margin-right: 60px;
    }

    &__userName{
        font-weight: 700;
        padding-top:20px
    }

    &__positionText{
        display: flex;
        margin-top:20px;
        justify-content: space-between;
        padding-left:30px;
        padding-right: 30px;

    }

    &__information{
        color:grey;

    }
    &__colorPosition{
        font-weight:700 ;
        color:#332f2e;
    }
    &__reloc{
        color:blue;
        cursor: pointer;
        &:hover{
            opacity:0.7;
        }
    }
    &__friends{
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
        padding-top:20px;
    }
    &__logoFriends{
        border:2px solid black;
        border-radius: 50%;
        background-color: yellow;
        width: 52px;
        height: 52px;
        padding-top: 50px;
        &:hover{
            border:2px solid red;
        }
    }
&__history{
    padding-top:30px;
    margin-top:20px;
    margin-bottom: 20px;
    padding-left:10px;
    border:2px solid black;
    border-radius: 40px;
    width: 500px;
    height:400px;
    background-color: whitesmoke;
}
&__scroll{
        overflow: scroll;
        overflow-x: hidden;
        width: auto;
        height: 250px;
        padding:5px;
        margin: 20px;
}
    &__nick{
        font-weight:700;
        padding-top:10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    &__overflowPosition{
        display: flex;
    }
    &__historyText{
        color:grey;
        margin-right:200px;
        margin-left:20px;
    }
    &__historyCheck{
        color:#332f2e;
        font-weight:700 ;

    }
    &__status{
        color:blue;
        border: none;
        background-color: whitesmoke;
        border-radius: 50%;
        font-weight: 700;
        margin-left: 120px;
    }

}