.Card{
    width: 616px;
    height: 782px;
    border:1px solid #dbdbdb;
    margin:40px 0;
    background-color: whitesmoke;
    border-radius: 20px;

    &__userLogo{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: black;
        margin-right: 20px;

    }
    &__header{
        width: 100%;
        height: 60px;
        border-bottom: 1px solid #dbdbdb;
        padding:15px 20px;
        display: flex;
        box-sizing: border-box;

    }
    &__userName{
        font-weight: 700;
    }

    &__userDate{
        margin-right: auto;
    }

    &__burger{
        font-size:20px;
        font-weight: 900;
        cursor: pointer;
        opacity: 0.7;
    }
    &__content{
        width: 100%;
        height: 614px;
        background-color:green;
    }


    &__communication{
        width: 100%;
        height: 40px;
        padding-top:20px;
        padding-bottom: 20px;
        


        &>span{
               cursor: pointer;
                margin-left: 10px;
            &:hover{
                   opacity: 0.7;
               }
        }
    }
    &__footer{
        width: 100%;
        height: 56px;
        border-top: 1px solid #dbdbdb;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
    &__inputComment{
        border:none;
        border:2px solid black;
        width: 220px;
        height: 40px;
        background-color: whitesmoke;
        text-align: center;
        border-radius:20px;
        margin-top:40px;
        margin-bottom: 20px;

}

    &__button{
        color:#103fc1;
        font-size: 16px;
        cursor:pointer;
    }

}