.Header{
    width: 100%;
    height: 54px;
    border-bottom:2px solid grey;
    margin-bottom: 10px;
    display: flex;

    align-items: center;
    position: fixed;
    top: 0;
        background-color: whitesmoke;
    z-index:30;
 
    &__logo{
        font-size: 20px;
        font-weight:700;
        margin-left: 200px;
        margin-right: 300px;
    }
    &__wrapper{
        display: flex;
    }
    &__search{
        border: 1px solid #8e8e8e;
        margin-right: 500px;
    }
    &__item{
        cursor:pointer;
        &:hover {
            opacity: 0.7;
        }
        &:not(:last-child){
            margin-right: 20px;
        }
        &:last-child{
            background-color: black;
            border-radius:50%;
            width: 22px;
            height: 22px;
        }
    }   
}