.Slider {
    width: 600px;
    height: 118px;
    background-color: black;
    position: relative;

    &__track{
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        overflow: hidden;
        align-items: center;
    }

    &__item{
        min-width: 65px;
        height: 65px;
        transition: .1s;
        border-radius:50%;
        cursor: pointer;
        
        &:hover{
            opacity: 0.7;
        }

        &:not(:last-child){
            margin-right: 10px;
        }
    
    &:nth-child(2n){
        background-color: red;
    }
    &:nth-child(2n+1){
        background-color: royalblue;
    }
    &:nth-child(2n+2){
        background-color: seagreen;
    }}

    &__button{
        width: 25px;
        height: 25px;
        position: absolute;
        background-color: white;
        color:black;
        border-radius: 50%;
        border:1px solid white;
        display:flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover{
            opacity:0.7;
        }

        &_prev{
            left:10px;
            top:35%;
        }

        &_next{
            right: 10px;
            top: 35%;
        }
    }
}
